body {
    margin: 0;
    padding: 0;
}

/* Estilos para la galería */
.Galeria {
    display: grid; /* Usa CSS Grid */
    grid-template-columns: repeat(3, 1fr); /* Divide en 3 columnas iguales */
    gap: 10px; /* Espaciado entre las columnas */
    padding: 10px; /* Espaciado interno en el contenedor */
    margin-bottom: 50px;
}

.Galeria img {
    width: 90%; /* Reduce el tamaño de las imágenes al 90% del ancho disponible */
    height: auto; /* Mantiene las proporciones de las imágenes */
    object-fit: cover; /* Ajusta para cubrir bien el espacio del contenedor */
    display: block; /* Elimina espacio adicional */
    margin: 0 auto; /* Centra las imágenes dentro de sus celdas */
    filter: grayscale(100%);
    transition: all 0.3s ease;
}

.Galeria img:hover {
    filter: none;
    transform: scale(1.05); /* Amplía un 5% al hacer hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Efecto de sombra al pasar el mouse */
}

/* Estilos para el footer */
footer {
    background-color: #f8edd9;
    padding: 20px;
    text-align: center;
    position: relative; /* Hace que se comporte de forma normal */
    margin-top: 20px;
}

footer p {
    margin-bottom: 10px;
}

#Contactos {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.iconoRedSocial img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
